<%- include("partials/header.ejs") %>
	<link rel="stylesheet" href="/app3.css">
    <section class="container-fluid mt-5">
		<div class="mt-5 row justify-content-center">
		<h2 id="movieTitle"> <%= data["Title"] %></h2>
		</div>
      <div class="row  align-items-center">
        <div class="col-md-3" id="poster">
			<img src="<%= data["Poster"] %>" onerror="this.style.display='none'"/>
        </div>
		<div class="col-md-9" id="movieContent" >
		<h4>Year: <%= data["Year"] %></h4>
		<h4>Director:&nbsp;<%= data["Director"]%></h4>
		<h4>Actors: <%= data["Actors"]%></h4>
		<h4>Writer: <%= data["Writer"]%></h4>
		<h4>Awards: <%= data["Awards"]%></h4>
		<h4>Countries: <%= data["Country"]%></h4>
		<h4>Type: <%= data["Type"]%></h4>
		<p>Plot : <%= data["Plot"]%></p>
		<h4>Ratings:</h4>
		<ul>
		<li><h4><i class="fa fa-imdb" aria-hidden="true"></i>&nbsp;&nbsp;&nbsp;IMDB : <%= data["imdbRating"]%></h4></li>
		<% if(data["Ratings"].length == 2){ %>
		<li><h4><i class="fas fa-apple-alt"></i>&nbsp;&nbsp;&nbsp;Rotten Tomatoes: <%= data["Ratings"][1]["Value"] %></h4></li>
		<%	} %>
		<% if(data["Ratings"].length == 3){ %>
		<li><h4><i class="fas fa-video"></i>&nbsp;&nbsp;&nbsp;Metacritic : <%= data["Ratings"][2]["Value"] %></h4></li>
		<%	} %>
		</ul>
        </div>
      </div>
	  <div class="row justify-content-center">
			 <form method="GET" action="/moogle">
			 <button id="homepage">Search Again&nbsp;<i class="fas fa-binoculars"></i></button>
			 </form>
	   </div>
    </section>
<%- include("partials/footer.ejs")%>
	<!-- 



 -->
